<h1 class="text-center display-3"> All Lifters </h1>
<table class="pure-table table-bordered table-hover container-fluid text-center">
    <thead class="text-center">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Squat</th>
            <th>Bench</th>
            <th>Deadlift</th>
            <th>Wilks</th>
            <th>Options</th>
        </tr>
    </thead>
    @{ int i = 1;
    }
    @foreach (var lifter in Model)
    {
        <tr style="font-size: 20px; height: 100px" class="pure-table-striped">
            <td>@i</td>
            <td>@lifter.Name</td>
            <td>@lifter.Gender</td>
            <td>@lifter.Age</td>
            <td>@lifter.Weight</td>
            <td>@lifter.LiftingNumbers.Squat</td>
            <td>@lifter.LiftingNumbers.Bench</td>
            <td>@lifter.LiftingNumbers.Deadlift</td>
            <td>
                @{
                    var calculator = new WilksCalculator(lifter);
                    var result = (int)calculator.Calculate();
                }
                @result
            </td>
            <td width="15%">
                <a class="pure-button" asp-action="Details"
                   asp-route-id="@lifter.Id">Details</a>
                <a id="deleteButton" class="pure-button" asp-action="Delete" asp-route-id="@lifter.Id">Delete</a>
            </td>
        </tr>
        i++;
    }
</table>
<div class="pure-button-group row justify-content-center" role="group">
    <a class="pure-button" asp-action="Create">Add New Lifter</a>
    <a class="pure-button" asp-action="CalculateWilks">Check your wilks</a>
    <a class="pure-button" asp-controller="LiftTracker" asp-action="Index">Track your lifts</a>
</div>
<script>
    $('th').click(function () {
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc) { rows = rows.reverse() }
        for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
    })
    function comparer(index) {
        return function (a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index) { return $(row).children('td').eq(index).text() }
</script>
<script type="text/javascript">
    $('#deleteButton').click(function () {
        if (window.confirm("Are you sure?"))
            alert('This has been successfully deleted');
    });
</script>